* {
    margin: 0;
    padding: 0;
}

.top {
    padding-bottom: 96px;
   
}

.header {
    margin-left: 375px;
    margin-left: 375px;
    display: flex;
    align-items: center;
    position: absolute;
    padding-top: 40px;
}

.logos__header {
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: flex-start;
}

.top__header {
    width: 533px;
    height: 17px;
    padding-top: 11px;
    padding-bottom: 12px;
    width: 533px;
    height: 17px;
    font-family:'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: flex-end;
    
}

.top__content {
    margin-left: 375px;
    margin-right: 375px;
    display: flex;
    padding-top: 164px;
    padding-bottom: 162px;
}

.top__info {
    
    
    width: 522px;
    height: 222px;
    
    font-family: 'Gilroy-Bold';
    font-size: 60px;
    line-height: 70px;
    
    color: #000000;

}
.title {
    margin-bottom: 17px;
   
    width: 522px;
    height: 222px;

    font-family: 'Gilroy-Bold';
    font-size: 60px;
    line-height: 70px;

    color: #000000;

}
.sub__title {
    
width: 466px;
height: 48px;

font-family: 'Gilroy-Medium';
font-size: 20px;
line-height: 23px;

color: #888888;
}

.top__buttons {
    display: flex;
    margin-top: 37px;
    align-items: center;
}
.button__left{
   
    display: flex;
    width: 140px;
    height: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.button__right {
    width: 90px;
    height: 19px;
    margin-left: 108px;
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    line-height: 18px;
    
    color: #AAAAAA;
}

.img__content {
    width: 544.81px;
    height: 374.84px;

    background: url(pngfind.png);
}



.content__up {
    display: flex;
    padding-left: 404px;
    padding-right: 401px;
    
    
}


.item__up {
    margin-top: 140px;
    width: 310px;
    height: 226px;
}


.text__left__button {
    position: absolute;
    width: 69px;
    height: 19px;

    font-family: 'Gilroy-Bold';
    font-size: 15px;
    line-height: 18px;
    
    color: #FFFFFF;
}

.top__logo {
    display: flex;
    margin-left: 345px;
    margin-right: 345px;
}

.images__item__up {
    width: 70px;
    height: 70px;

    background: rgba(242, 88, 34, 0.25);
    border-radius: 15px;
}
.item__midle {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    width: 370px;
    height: 291px;
    background: #FFFFFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 100px
    
}

.title__item__up {
    margin-top: 25px;
    width: 215px;
    height: 30px;
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 28px;
    
    color: #000000;
}

.text__item__up {
    margin-top: 17px;
    width: 310px;
    height: 42px;

    font-family: 'Gilroy-Regular';
    font-size: 15px;
    line-height: 150%;
    /* or 22px */


    color: #666666;
}

.link__read {
    margin-top: 25px;
    width: 64px;
    height: 17px; 
    font-family: 'Gilroy-Bold';
    font-size: 11px;
    line-height: 150%;
    /* identical to box height, or 16px */
    
    
    color: #000000;
}

.content__down {
    padding-bottom: 100px ;
}
.title__down {
    padding-top: 90px;
    padding-left: 670px;
    padding-right: 670px;
    width: 579px;
    height: 56px;
    font-family: 'Gilroy-Bold';
    font-size: 45px;
    line-height: 53px;

    color: #000000;
}

.subtitle__down {
    margin-left: 619px;
    margin-right: 619px;
    width: 682px;
    height: 48px;
    margin-top: 19px;
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #666666;
}

.titles__items__down {
    width: 204px;
    height: 30px;
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.text__item__down {
    width: 310px;
    height: 63px;
    font-family: 'Gilroy-Regular';
    font-size: 15px;
    line-height: 150%;
    /* or 22px */
    text-align: center;
    color: #AAAAAA;;
}

.button__down {
    
    margin-left: 100px;
    margin-right: 120px;
    width: 150px;
    height: 50px;
    background: #F25822;
    border: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
}

.images__item__down {
    width: 370px;
    height: 289px;

    background: url(b91bb0d6fe6570802388ea527cd7e709);

}
.medium__item__down {
    margin-left: 22px;
    margin-right: 22px;
    width: 370px;
    height: 549px;
    background: #FFFFFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.text__button__down {
    width: 68px;
    height: 20px;

    font-family: 'Gilroy-Bold';
    font-size: 13px;
    line-height: 150%;
    /* identical to box height, or 20px */
    text-align: center;
    color: #FFFFFF;
    display: inline;
}

.media__down {
    display: flex;
    margin-left: 375px;
    margin-right: 375px;
}

.item__down {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    width: 370px;
    height: 549px;
    background: #FFFFFF;
    flex-direction: column;
    align-items: center;
}